
.contain1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contactus{
    display: grid;
    grid-template-columns: repeat(1,50%);
    column-gap: 40px;
    row-gap: 40px;
}

.card{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    height: 210px;
    padding: 20px;
    background-color:rgb(227, 220, 210);
    border-radius: 20px;
    cursor:crosshair;
}

.card:hover{
    transform: scale(1.05);
}


.card > img{
    align-self: center;
    width: 450px;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;
}


.Desc {
    margin-left: -200px;
    margin-top: 10px;
    font-size: medium;
}

@media screen and (max-width: 800px){

}
