.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    background-color:rgb(227, 220, 210);
    color: rgb(6, 6, 6);
    margin-top: 30px;
}

@media screen and (max-width: 800px){

}
