.container{
    width: 100%;
    background-color:rgb(227, 220, 210);
    height: 100%;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:rgb(227, 220, 210);
}

li {
float: left;
}

img{
    float: left;
    display:grid;
    color: rgb(23, 23, 23);
    text-align: center;
    width: 100%;
    text-decoration: none;
    margin-right: 50px;
}
li a{
display: block;
background-color:rgb(227, 220, 210);
color: rgb(23, 23, 23);
text-align: center;
padding: 22px 42px;
text-decoration: none;
font-size: 24px;
font-family: Oswald Bold;
font-weight: bold;
}

i{
    display: block;
    background-color:rgb(227, 220, 210);
    margin-left:30px;
    padding: 30px 12px;
    font-size: 70px;
}

ii{
    display: block;
    background-color:rgb(227, 220, 210);
    padding: 30px 8px;
    font-size: 70px;
}

li a:hover {
background-color:rgb(170, 154, 134);
}

.img1{
    height: 75px;
    width:140px;
    padding: 0px 25px;
}

@media screen and (max-width: 800px){

}
