<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>aboutus</title>
</head>
<body>
    <nav class="container">
        <ul>
            <img class="img1" src="../gambar/Logo.png" alt="">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./member.html">Member</a></li>
            <li><a href="./aboutus.html">About Us</a></li>
            <li><a href="./contactus.html">Contact Us</a></li>
            <i class="fa fa-search" aria-hidden="true"></i>
            <ii class="fa fa-cart-arrow-down" aria-hidden="true"></ii>
            <ii class="fa fa-bars" aria-hidden="true"></ii>
        </ul>
    </nav>
    <br>
    <center><span class="text1">---------- <span class="text2">About Us</span> ----------</span></center>
    <center><h3 class="text3">OUR STORY</h3></center>
    <center><p class="text4">
        Founded in 2010, Ilkea Furniture emerged as a humble endeavor by visionary craftsmen Alex and Olivia Greenfield. Driven by a shared passion for exceptional design and a commitment to quality, they set out to create a furniture store brand that would redefine the industry.
        Beginning with a small workshop, the Greenfields crafted each piece by hand, instilling a sense of artistry and precision into every creation. As word spread about the unparalleled craftsmanship and unique designs, Ilkea Furniture quickly gained a local following.
        In the 2110s, recognizing the changing landscape of retail, Ilkea Furniture embraced modernization, opening its flagship store in the heart of the city. The brand's commitment to contemporary aesthetics and affordable luxury struck a chord with a broader audience, marking the beginning of its ascent in the industry.
        Throughout the years, Ilkea Furniture continued to evolve, expanding its product range to cater to diverse tastes and lifestyles. Collaborating with emerging designers and embracing new materials, the brand remained at the forefront of furniture trends.
        The 21st century saw Ilkea Furniture's foray into the digital realm, launching an online platform that brought their curated collections to customers worldwide. This move not only reflected the brand's adaptability but also showcased a commitment to providing a seamless shopping experience.
        Today, Ilkea Furniture stands tall as a symbol of timeless design and enduring quality. With multiple stores across the country and a global online presence, the brand remains true to its roots while continuously innovating to meet the evolving needs of its discerning clientele. The legacy of Ilkea Furniture is one of craftsmanship, style, and a dedication to transforming houses into homes.
    </p></center>

    <div class="containa">
        <button class="btnz">Our Premium Products</h3></button>
        <div class="premium-container">
            <div class="img-contain">
              <div class="img-card">
                <img src="../gambar/premium1.jpg" alt="">
                <div class="img-details">
                  <center><h4>Premium Wooden</h4></center>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/premium1" alt="">
                <div class="img-details">
                  <center><h4>Premium Cotton</h4></center>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/premium2" alt="">
                <div class="img-details">
                  <center><h4>Premium Glass</h4></center>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/premium3" alt="">
                <div class="img-details">
                  <center><h4>Premium Ceramic</h4></center>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/premium4" alt="">
                <div class="img-details">
                  <center><h4>Premium Cloth</h4></center>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>© 2023 ILKEA</p>
    </div>
    
</body>
</html>