<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/contactus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>contactus</title>
</head>
<body>
    <nav class="container">
        <ul>
            <img class="img1" src="../gambar/Logo.png" alt="">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./member.html">Member</a></li>
            <li><a href="./aboutus.html">About Us</a></li>
            <li><a href="./contactus.html">Contact Us</a></li>
            <i class="fa fa-search" aria-hidden="true"></i>
            <ii class="fa fa-cart-arrow-down" aria-hidden="true"></ii>
            <ii class="fa fa-bars" aria-hidden="true"></ii>
        </ul>
    </nav>

    <div class="contain1">

        <div class="contactus">
            <div class="card">
                <img src="../gambar/store1.jpg" alt="No Image">
                <div class="Desc">
                    <h3>Kemanggisan Ilkea Store</h3>
                    <p><ia class="fa fa-map-marker" aria-hidden="true"></ia> Location :<br>Kemanggisan Street no 71, Jakarta</p>
                    <p>Contact us : 310-470-1200</p>
                    <p><ia class="fa fa-clock-o" aria-hidden="true"></ia> Open Until 9.00 pm</p>
                </div>
            </div>
            <div class="card">
                <img src="../gambar/store2.jpg" alt="No Image">
                <div class="Desc">
                    <h3>Alam Sutera Ilkea Store</h3>
                    <p><ia class="fa fa-map-marker" aria-hidden="true"></ia> Location :<br>Alam Sutera Street no 1, Tangerang</p>
                    <p>Contact us : 312-470-1201</p>
                    <p><ia class="fa fa-clock-o" aria-hidden="true"></ia> Open Until 10.00 pm</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>© 2023 ILKEA</p>
    </div>
</body>
</html>