<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>gallery</title>
</head>
<body>
    <nav class="container">
        <ul>
            <img class="img1" src="../gambar/Logo.png" alt="">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./member.html">Member</a></li>
            <li><a href="./aboutus.html">About Us</a></li>
            <li><a href="./contactus.html">Contact Us</a></li>
            <i class="fa fa-search" aria-hidden="true"></i>
            <ii class="fa fa-cart-arrow-down" aria-hidden="true"></ii>
            <ii class="fa fa-bars" aria-hidden="true"></ii>
        </ul>
    </nav>
    <div>
        <button class="btnz">BEDROOM</h3></button>
        <div class="product_container">
            <div class="img-contain">
              <div class="img-card">
                <img src="../gambar/bed1" alt="">
                <div class="img-details">
                  <center><h4>Ilkea Cutie Bed</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                    Discover the epitome of comfort and style with the Ilkea Cutie Bed.This sleek and modern design effortlessly elevates your bedroom, featuring a plush, padded headboard for ultimate relaxation in your favorite bedroom. 
                  </h5>
                  <h5 class="textc">Category : BEDROOM</h5>
                  <h5 class="textd">$749.00</h5>
                  <button class="btna">Add to Cart</button>
                </div>
             </div>
             <div class="img-card">
                <img src="../gambar/bed2" alt="">
                <div class="img-details">
                  <center><h4> Elegant Wardrobe</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                    Ilkea Elegant Wardrobe, where timeless design meets functional sophistication. Crafted with meticulous attention to detail, this wardrobe seamlessly blends form and function, adding a touch of refined style to any space.
                  </h5>
                  <h5 class="textc">Category : BEDROOM</h5>
                  <h5 class="textd">$549.00</h5>
                  <button class="btna">Add to Cart</button>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/bed3" alt="">
                <div class="img-details">
                  <center><h4>Ilkea Makeup Page</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                    Welcome to the Ilkea Makeup Page, where beauty meets innovation to your room. Dive into a world of enchanting colors, luxurious textures, and transformative products that redefine the art of makeup.
                  </h5>
                  <h5 class="textc">Category : BEDROOM</h5>
                  <h5 class="textd">$49.00</h5>
                  <button class="btna">Add to Cart</button>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/bed44.jpg" alt="">
                <div class="img-details">
                  <center><h4>Ilkea Minimalize Bed</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                    Ilkea Minimalize Bed – where simplicity meets sophistication for a tranquil and modern bedroom retreat. This sleek and minimalist bed frame is designed to elevate your sleep space with clean lines and a refined aesthetic.
                  </h5>
                  <h5 class="textc">Category : BEDROOM</h5>
                  <h5 class="textd">$849.00</h5>
                  <button class="btna">Add to Cart</button>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/bed5" alt="">
                <div class="img-details">
                  <center><h4>Ilkea Decorative Glass</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                    ntroducing Ilkea Decorative Glass – where artistry meets functionality to transform your living space. Elevate your home decor with our exquisite collection of decorative glass pieces that seamlessly blend form and style.
                  <h5 class="textc">Category : BEDROOM</h5>
                  <h5 class="textd">$799.00</h5>
                  <button class="btna">Add to Cart</button>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div>
        <button class="btnx">LIVINGROOM</h3></button>
        <div class="product_container">
            <div class="img-contain">
                <div class="img-card">
                    <img src="../gambar/sofa1" alt="">
                    <div class="img-details">
                      <center><h4>Ilkea Pinky Sofa</h4></center>
                      <h5 class="textc">Description</h5>
                      <h5 class="textb">
                        This stylish pinky sofa features a vibrant pink hue that instantly brightens any room. Its modern design, coupled with a comfortable seat and sleek lines, makes it a perfect blend of fashion and function in yout home.
                      </h5>
                      <h5 class="textc">Category : LIVINGROOM</h5>
                      <h5 class="textd">$649.00</h5>
                      <button class="btna">Add to Cart</button>
                    </div>
                </div>
             <div class="img-card">
                <img src="../gambar/sofa2" alt="">
                <div class="img-details">
                  <center><h4>Television Cabinet</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                    a perfect fusion of style and functionality for your space. This thoughtfully designed cabinet is crafted to complement modern living, offering a sleek and contemporary solution for housing your TV.
                  <h5 class="textc">Category : LIVINGROOM</h5>
                  <h5 class="textd">$1449.00</h5>
                  <button class="btna">Add to Cart</button>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/sofa3.jpg" alt="">
                <div class="img-details">
                  <center><h4>Ilkea Simple Table</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                    Introducing the Ilkea Simple Table – where minimalism meets functionality in a stylish union. This table embodies the essence of clean design, offering a versatile and understated addition to your living space.
                  </h5>
                  <h5 class="textc">Category : LIVINGROOM</h5>
                  <h5 class="textd">$349.00</h5>
                  <button class="btna">Add to Cart</button>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/sofa4.jpeg" alt="">
                <div class="img-details">
                  <center><h4>Ilkea Grey Sofa</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                    Ilkea Grey Sofa – where comfort meets contemporary elegance in a shade that transcends trends. This sophisticated sofa is designed to be the centerpiece of your living space, offering a perfect balance of style.
                  </h5>
                  <h5 class="textc">Category : LIVINGROOM</h5>
                  <h5 class="textd">$849.00</h5>
                  <button class="btna">Add to Cart</button>
                </div>
              </div>
              <div class="img-card">
                <img src="../gambar/sofa5" alt="">
                <div class="img-details">
                  <center><h4>Ilkea Elegant Sofa</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                    Introducing the Ilkea Elegant Sofa – a refined embodiment of sophistication and comfort. This exquisite sofa redefines luxury with its graceful design, seamlessly blending timeless elegance and contemporary allure.
                  <h5 class="textc">Category : LIVNGROOM</h5>
                  <h5 class="textd">$999.00</h5>
                  <button class="btna">Add to Cart</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    
    <div>
      <button class="btnz">BATHROOM</h3></button>
      <div class="product_container">
          <div class="img-contain">
            <div class="img-card">
              <img src="../gambar/bath1.jpeg" alt="">
              <div class="img-details">
                  <center><h4>Ilkea Elegant Wastafel</h4></center>
                  <h5 class="textc">Description</h5>
                  <h5 class="textb">
                  Elevate your bathroom aesthetics with the Ilkea Elegant Wastafel. This sophisticated sink seamlessly combines form and function, featuring a timeless design that adds a touch of luxury to your space. 
                  </h5>
                  <h5 class="textc">Category : BATHROOM</h5>
                  <h5 class="textd">$999.00</h5>
                  <button class="btna">Add to Cart</button>
              </div>
           </div>
           <div class="img-card">
              <img src="../gambar/BATH2" alt="">
              <div class="img-details">
                <center><h4>Ilkea Simple Toilet</h4></center>
                <h5 class="textc">Description</h5>
                <h5 class="textb">
                  Ilkea Simple Toilet is a straightforward and functional bathroom fixture designed for practicality and ease of use. This toilet features a clean and minimalistic design, emphasizing simplicity in both form and function.
                </h5>
                <h5 class="textc">Category : BATHROOM</h5>
                <h5 class="textd">$849.00</h5>
                <button class="btna">Add to Cart</button>
              </div>
            </div>
            <div class="img-card">
              <img src="../gambar/BATH3" alt="">
              <div class="img-details">
                <center><h4>Ilkea Silver Bathtub</h4></center>
                <h5 class="textc">Description</h5>
                <h5 class="textb">
                  The Ilkea Silver Bathtub is an elegant and luxurious addition to any bathroom space. With its sleek silver finish, this bathtub exudes a sense of sophistication and modernity. The silver color adds a touch of opulence. 
                </h5>
                <h5 class="textc">Category : BATHROOM</h5>
                <h5 class="textd">$1149.00</h5>
                <button class="btna">Add to Cart</button>
              </div>
            </div>
            <div class="img-card">
              <img src="../gambar/BATH4" alt="">
              <div class="img-details">
                <center><h4>Wonderfull Shower</h4></center>
                <h5 class="textc">Description</h5>
                <h5 class="textb">
                  Wonderful Shower is a stylish and innovative solution for a refreshing and invigorating bathing experience. Designed with modern aesthetics in mind, this shower unit seamlessly blends form and function. 
                </h5>
                <h5 class="textc">Category : BATHROOM</h5>
                <h5 class="textd">$849.00</h5>
                <button class="btna">Add to Cart</button>
              </div>
            </div>
            <div class="img-card">
              <img src="../gambar/bath5" alt="">
              <div class="img-details">
                <center><h4>Ilkea Soap Dispenser</h4></center>
                <h5 class="textc">Description</h5>
                <h5 class="textb">
                  The Ilkea Soap Dispenser combines practicality of modern design for a seamless addition to any bathroom. This dispenser features a sleek and minimalistic design that effortlessly complements various decor styles.
                <h5 class="textc">Category : BATHROOM</h5>
                <h5 class="textd">$99.00</h5>
                <button class="btna">Add to Cart</button>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div>
    <button class="btnz">KITCHEN</h3></button>
    <div class="product_container">
        <div class="img-contain">
          <div class="img-card">
            <img src="../gambar/table1" alt="">
            <div class="img-details">
              <center><h4>Simple Dining Table</h4></center>
              <h5 class="textc">Description</h5>
              <h5 class="textb">
                This dining table is a perfect blend of simplicity and functionality, featuring clean lines and a timeless design. Crafted with quality materials, it provides a sturdy and reliable surface for your meals and your family. 
              </h5>
              <h5 class="textc">Category : KITCHEN</h5>
              <h5 class="textd">$1399.00</h5>
              <button class="btna">Add to Cart</button>
            </div>
            </div>
         <div class="img-card">
            <img src="../gambar/kicthen2" alt="">
            <div class="img-details">
              <center><h4>Ilkea Dining Cupboard</h4></center>
              <h5 class="textc">Description</h5>
              <h5 class="textb">
                Versatile and practical piece of furniture designed to enhance both storage and aesthetics in a dining area. Typically crafted from durable materials like wood or MDF, it provides ample space to organize.
              </h5>
              <h5 class="textc">Category : KITCHEN</h5>
              <h5 class="textd">$949.00</h5>
              <button class="btna">Add to Cart</button>
            </div>
          </div>
          <div class="img-card">
            <img src="../gambar/kitchen3.jpeg" alt="">
            <div class="img-details">
              <center><h4>Ilkea Brown Cupboard</h4></center>
              <h5 class="textc">Description</h5>
              <h5 class="textb">
                The Ilkea Brown Cupboard is a charming and functional furniture piece designed to bring warmth in your room. Crafted with attention to detail in the furniture, the rich brown finish adds a touch of elegance.
              </h5>
              <h5 class="textc">Category : KITCHEN</h5>
              <h5 class="textd">$1149.00</h5>
              <button class="btna">Add to Cart</button>
            </div>
          </div>
          <div class="img-card">
            <img src="../gambar/kitchen4" alt="">
            <div class="img-details">
              <center><h4>Ilkea Kitchen Set</h4></center>
              <h5 class="textc">Description</h5>
              <h5 class="textb">
                The Ilkea Kitchen Set is a harmonious ensemble designed to transform your kitchen into a stylish and organized space. Crafted with precision , this set seamlessly combines functionality with contemporary aesthetics.
              </h5>
              <h5 class="textc">Category : KITCHEN</h5>
              <h5 class="textd">$649.00</h5>
              <button class="btna">Add to Cart</button>
            </div>
          </div>
          <div class="img-card">
            <img src="../gambar/kitchen5" alt="">
            <div class="img-details">
              <center><h4>Wooden Dining Set</h4></center>
              <h5 class="textc">Description</h5>
              <h5 class="textb">
                The Ilkea Wooden Dining set embodies timeless elegance and practicality for your dining space. Crafted from high-quality wood, this dining set showcases a natural and warm aesthetic,its will suitable to your room.
              <h5 class="textc">Category : KITCHEN</h5>
              <h5 class="textd">$1299.00</h5>
              <button class="btna">Add to Cart</button>
            </div>
          </div>
        </div>
    </div>

    <div>
      <button class="btnz">KIDS ROOM</h3></button>
      <div class="product_container">
          <div class="img-contain">
            <div class="img-card">
              <img src="../gambar/kids1.jpeg" alt="">
              <div class="img-details">
                <center><h4>Mocochrome Kids Room</h4></center>
                <h5 class="textc">Description</h5>
                <h5 class="textb">
                  Transform your child's space into a stylish haven with the Monochrome Kids Room collection by Ilkea. This sleek and modern design palette revolves around the timeless simplicity of black, white, and shades of gray. 
                </h5>
                <h5 class="textc">Category : KIDS ROOM</h5>
                <h5 class="textd">$1599.00</h5>
                <button class="btna">Add to Cart</button>
              </div>
            </div>
           <div class="img-card">
              <img src="../gambar/kids2" alt="">
              <div class="img-details">
                <center><h4>Aesthetic Kids Room</h4></center>
                <h5 class="textc">Description</h5>
                <h5 class="textb">
                  An aesthetic kids' room by Ilkea is a whimsical and delightful space that blends style with functionality, creating a dreamy haven for young ones. The room features a carefully curated color palette and playful patterns.
                </h5>
                <h5 class="textc">Category : KIDS ROOM</h5>
                <h5 class="textd">$1949.00</h5>
                <button class="btna">Add to Cart</button>
              </div>
            </div>
            <div class="img-card">
              <img src="../gambar/kids3" alt="">
              <div class="img-details">
                <center><h4>Ilkea Monochrome Crib</h4></center>
                <h5 class="textc">Description</h5>
                <h5 class="textb">
                  The Ilkea Monochrome Crib is a sleek and modern nursery essential that combines minimalist design with practical functionality. Crafted with precision and attention to detail, this crib features a clean .
                <h5 class="textc">Category : KIIDS ROOM</h5>
                <h5 class="textd">$1349.00</h5>
                <button class="btna">Add to Cart</button>
              </div>
            </div>
            <div class="img-card">
              <img src="../gambar/kids4" alt="">
              <div class="img-details">
                <center><h4>Elegant Kids Room</h4></center>
                <h5 class="textc">Description</h5>
                <h5 class="textb">
                  The Ilkea Elegant Kids Room is a refined and sophisticated space designed to harmoniously blend style. This thoughtfully curated room features tasteful decor and furniture that exude an air of sophistication.
                <h5 class="textc">Category : KIDS ROOM</h5>
                <h5 class="textd">$1449.00</h5>
                <button class="btna">Add to Cart</button>
              </div>
            </div>
            <div class="img-card">
              <img src="../gambar/kids5" alt="">
              <div class="img-details">
                <center><h4>Blue Kids Room</h4></center>
                <h5 class="textc">Description</h5>
                <h5 class="textb">
                  The Ilkea Blue Kids Room is a charming and vibrant space that embraces the soothing and playful tones of the color blue. Carefully designed with a palette ranging from soft sky blues to deeper navy hues.
                <h5 class="textc">Category : KIDS ROOM</h5>
                <h5 class="textd">$1349.00</h5>
                <button class="btna">Add to Cart</button>
              </div>
            </div>
          </div>
      </div>
  


    <div class="footer">
        <p>© 2023 ILKEA</p>
    </div>
</body>
</html>