<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>

</head>

<body>
    <nav class="container">
        <ul>
            <img class="img1" src="../gambar/Logo.png" alt="">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./member.html">Member</a></li>
            <li><a href="./aboutus.html">About Us</a></li>
            <li><a href="./contactus.html">Contact Us</a></li>
            <i class="fa fa-search" aria-hidden="true"></i>
            <ii class="fa fa-cart-arrow-down" aria-hidden="true"></ii>
            <ii class="fa fa-bars" aria-hidden="true"></ii>
        </ul>
    </nav>

    <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext"></div>
          <img src="../gambar/gambar1.png" style="width:100%">
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext"></div>
          <img src="../gambar/gambar2.png" style="width:100%">
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext"></div>
          <img src="../gambar/gambar3.png" style="width:100%">
        </div>

        <div class="mySlides fade">
          <div class="numbertext"></div>
          <img src="../gambar/gambar4.png" style="width:100%">
        </div>
        
     </div>
    <br>
    <br>
    <br>
    <br>
    <CENTER><h3 class="text3">BRANDS</h3></CENTER>
     
    <div class="grid-container1">
        <div class="grid-item"><img src="../gambar/logo1.png" alt=""></div>
        <div class="grid-item"><img src="../gambar/logo2.png" alt=""></div>
        <div class="grid-item"><img src="../gambar/logo3.png" alt=""></div>
        <div class="grid-item"><img src="../gambar/logo4.png" alt=""></div>
        <div class="grid-item"><img src="../gambar/logo5.png" alt=""></div>
        <div class="grid-item"><img src="../gambar/logo6.png" alt=""></div>
        <div class="grid-item"><img src="../gambar/logo7.png" alt=""></div>
    </div>

    <br>
    <center><span class="text1">---------- <span class="text2">Best Items</span> ----------</span></center>
    <center><h3 class="text3">TOP CATEGORY</h3></center>

    <div class="grid-container2">
      <div class="grid-item1 item1"><img src="../gambar/_BATHROOM.png" alt=""></div>
      <div class="grid-item1 item2"><img src="../gambar/_BEDROOM.png" alt=""></div>
      <div class="grid-item1 item3"><img src="../gambar/_KIDSROOM.png" alt=""></div>  
      <div class="grid-item1 item4"><img src="../gambar/_LIVING.png" alt=""></div>
      <div class="grid-item1 item5"><img src="../gambar/_KITCHEN.png" alt=""></div>
      <div class="grid-item1 item6"><img src="../gambar/_OTHERS.png" alt=""></div>
    </div>
    
    <br>
    <center><span class="text1">---------- <span class="text2">Latest Products</span> ----------</span></center>
    <center><h3 class="text3">RECOMMENDED PRODUCTS</h3></center>

    <div class="btn-group">
      <button class="btn1">New Products</button>
      <button class="btn2">Featured Products</button>
      <button class="btn2">Best Seller</button>
    </div>

    <div class="product_container">
      <div class="img-contain">
        <div class="img-card">
          <img src="../gambar/bed1" alt="">
          <div class="img-details">
            <center><h4>Ilkea Cutie Bed</h4></center>
            <h5 class="textc">Description</h5>
            <h5 class="textb">
              Discover the epitome of comfort and style with the Ilkea Cutie Bed.This sleek and modern design effortlessly elevates your bedroom, featuring a plush, padded headboard for ultimate relaxation in your favorite bedroom. 
            </h5>
            <h5 class="textc">Category : BEDROOM</h5>
            <h5 class="textd">$749.00</h5>
            <button class="btna">Add to Cart</button>
          </div>
        </div>
        <div class="img-card">
          <img src="../gambar/sofa1" alt="">
          <div class="img-details">
            <center><h4>Ilkea Pinky Sofa</h4></center>
            <h5 class="textc">Description</h5>
            <h5 class="textb">
              This stylish pinky sofa features a vibrant pink hue that instantly brightens any room. Its modern design, coupled with a comfortable seat and sleek lines, makes it a perfect blend of fashion and function in yout home.
            </h5>
            <h5 class="textc">Category : LIVINGROOM</h5>
            <h5 class="textd">$649.00</h5>
            <button class="btna">Add to Cart</button>
          </div>
        </div>
        <div class="img-card">
          <img src="../gambar/bath1.jpeg" alt="">
          <div class="img-details">
            <center><h4>Ilkea Elegant Wastafel</h4></center>
            <h5 class="textc">Description</h5>
            <h5 class="textb">
              Elevate your bathroom aesthetics with the Ilkea Elegant Wastafel. This sophisticated sink seamlessly combines form and function, featuring a timeless design that adds a touch of luxury to your space. 
            </h5>
            <h5 class="textc">Category : BATHROOM</h5>
            <h5 class="textd">$999.00</h5>
            <button class="btna">Add to Cart</button>
          </div>
        </div>
        <div class="img-card">
          <img src="../gambar/table1" alt="">
          <div class="img-details">
            <center><h4>Simple Dining Table</h4></center>
            <h5 class="textc">Description</h5>
            <h5 class="textb">
              This dining table is a perfect blend of simplicity and functionality, featuring clean lines and a timeless design. Crafted with quality materials, it provides a sturdy and reliable surface for your meals and your family. 
            </h5>
            <h5 class="textc">Category : KITCHEN</h5>
            <h5 class="textd">$1399.00</h5>
            <button class="btna">Add to Cart</button>
          </div>
        </div>
        <div class="img-card">
          <img src="../gambar/kids1.jpeg" alt="">
          <div class="img-details">
            <center><h4>Mocochrome Kids Room</h4></center>
            <h5 class="textc">Description</h5>
            <h5 class="textb">
              Transform your child's space into a stylish haven with the Monochrome Kids Room collection by Ilkea. This sleek and modern design palette revolves around the timeless simplicity of black, white, and shades of gray. 
            </h5>
            <h5 class="textc">Category : KIDS ROOM</h5>
            <h5 class="textd">$1599.00</h5>
            <button class="btna">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="footer">

        <p>© 2023 ILKEA</p>
      </div>

    </div>
    
     <script src="../js/slider.js"></script>
</body>
</html>